#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pong-container {
  position: relative;
  width: 800px;
  height: 600px;
}

.scoreboard {
  position: absolute;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  pointer-events: none;
}

.left-score, .right-score {
  flex: 1;
  text-align: center;
  color: white;
} 
