#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pong-container {
  position: relative;
  width: 800px;
  height: 600px;
}

.scoreboard {
  position: absolute;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  pointer-events: none;
}

.countdown {
  position: absolute;
  top: 40px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green;
  font-weight: bold;

}

.left-score, .right-score {
  flex: 1;
  text-align: center;
  color: white;
} 

.winner-message {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
}

.game-buttons {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-buttons button {
  padding: 10px 20px;
  font-size: 18px;
  background: #f0f0f0;
  border: 2px solid #000;
  cursor: pointer;
  transition: 0.3s;
}

.game-buttons button:hover {
  background: #e0e0e0;
}