* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Montserrat', sans-serif;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* CSS HEX */
  --blackish: #090609;
  --eggplant: #120d23;
  --mauve: #3d3242;
  --nude: #a95d6b;
  --burnt-rose: #c96069;
  --danger: #d41724;
  --blush: #fdf6ff;
  --mandarine: #e0836a;
  --canary: #ffb63d;
  --grey: #8c808c;
  --pale-grey: #c9c9c5;
  --blue-sky: #d9eef3;
  --moss: #909e66;
}

body {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: black;
}

#welcome-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Use 'center' instead of 'space-evenly' */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centering using negative translation */
}

h1 {
  font-family: Press Start 2P;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25),
    -2px -2px 4px rgba(0, 0, 0, 0.25);
  color: #f7e8c4;
}

#arcade {
  margin-top: 3rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 50vw;
}

#arcade img {
  border-radius: 50%;
  display: block;
  border: 1px solid #000000;
}
#arcade:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 10px 24px 40px 0px black, inset -10px -24px 40px 0px black,
    inset 20px -10px 40px 0px black, inset -20px 10px 40px 0px black;
}

.nameSender {
  color: var(--burnt-rose);
  font-weight: bold; /* Texte gras */
}

.channelSender {
  color: var(--mandarine);
  font-weight: bold; /* Texte gras */
}

.notice {
  color: var(--canary); /* Jaune doré */
  font-weight: bold; /* Texte gras */
}

.chat__header {
  color: var(--mandarine);
}

.chat__users {
  margin-bottom: 25px;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 100vw;
  background-color: var(--black-currant);
  font-size: 20px;
  font-weight: 600;
}

header nav a {
  padding: 5px;
  color: var(--burnt-rose);
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  transition: 0.5s;
}

a:hover,
a:focus {
  color: var(--mandarine);
}

p {
  text-overflow: ellipsis;
}
